.single-info {
  margin: 20px;
  background-color: rgba(231, 155, 14, 0.747);
  padding: 20px;
  border-radius: 5px;
}
.h3 {
  text-align: left;
}
@media (max-width: 740px) {
  .single-info {
    display: flex;
    flex-direction: column;
  }
  .text h3 {
    font-size: 12px;
    font-weight: 700;
  }
}
