.logo {
  width: 15%;
  margin-left: 250px;
}
.wrap {
  width: 175rem;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
.navbar-nav a {
  text-decoration: none;
  margin-left: 15px;
  color: rgb(139, 139, 139);
}
.navbar-nav a:hover {
  color: whitesmoke;
}
.nav-items {
  margin-left: 200px;
}
/* .btn {
  margin-left: 15px;
  margin-right: 6px;
} */

@media (max-width: 740px) {
  .logo {
    margin-left: 21px;

    width: 200px;
    height: 50px;
  }
  .wrap {
    padding: 10px;
  }
}
