.banner-container img {
  width: 100%;
  height: 570px;
}
.banner-container h5 {
  color: whitesmoke;
  font-weight: 700;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  margin-top: -390px;
}
